@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	 background: linear-gradient(to right, #FF4B2B, #FF416C); 
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}




h1 {
	font-weight: bold;
	margin: 0;
}
p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	
}
form {
	background-color: #FFFFFF;
	display: flex;
	
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

button {
	border-radius: 12px;
	border: 1px solid #ffffff;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 16px 32px;
	letter-spacing: 1px;
	text-align: center;
	transition: transform 80ms ease-in;
	display: inline-block;
	cursor: pointer;
	
}


button:active {
	transform: scale(0.95);
}


.panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.left {
	transform: translateX(-60%);
}
.right {
	right: 0;
	transform: translateX(20%);
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out
}
	

	.container {
		background-color: #fff;
		border-radius: 10px;
		  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
				0 10px 10px rgba(0,0,0,0.22);
		position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	}

	
	input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}