
  html {
    font-size: 150%;
    font-weight: 300;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.4;
  }
  
  body {
    display: flex;
    background-image: linear-gradient(236deg, #000000, #acb6e5);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
  }
  
  
  .calculator {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    overflow: hidden;
  }
  
  .calculator__display {
    background-color: rgb(18, 21, 34);
    color: rgb(172, 172, 172);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2);
  }
  
  .calculator__keys {
    
    display: grid;
    grid-gap: 2px;
   
    grid-template-areas:
      ". . . ."
      "seven eight nine equal"
      "four five six equal"
      "one two three equal"
      "zero decimal clear equal";
  }
  
  .calculator__keys > button {
    border: 0;
    padding: 30px;
  }
  
  [data-key="1"] {
    grid-area: one;
  }
  
  [data-key="2"] {
    grid-area: two;
  }
  
  [data-key="3"] {
    grid-area: three;
  }
  
  [data-key="4"] {
    grid-area: four;
  }
  
  [data-key="5"] {
    grid-area: five;
  }
  
  [data-key="6"] {
    grid-area: six;
  }
  
  [data-key="7"] {
    grid-area: seven;
  }
  
  [data-key="8"] {
    grid-area: eight;
  }
  
  [data-key="9"] {
    grid-area: nine;
  }
  
  [data-key="0"] {
    grid-area: zero;
  }
  .decimal {
    grid-area: decimal;
  }
  .clear {
    grid-area: clear;
  }
  
  [data-key="equal"] {
    grid-area: equal;
    background-color: rgb(255, 166, 0)
  }
  
  [data-key="equal"]:active {
    background-color: rgb(255, 166, 0)
  }
  
  [data-type="operator"] {
    background: rgb(190, 190, 190);
  }
  
  [data-type="number"],
  [data-type="clear"] {
    background: #fff;
  }
  
  [data-type="number"],
  [data-type="clear"] {
    background: #fff;
  }
  
  [data-type="operator"]:active,
  [data-type="number"]:active,
  [data-type="clear"]:active {
    background: rgb(165, 165, 165)
  }
  
  [data-state="selected"] {
    background: rgb(165, 165, 165);
  }