input[type = radio]{
    size: 50px;
    margin: 50px;
    padding: 10px;
}

label{
    font-size: x-large;
    margin: 50px;

}
body{
    background: rgb(66,63,89);
background: linear-gradient(317deg, rgba(66,63,89,1) 0%, rgba(78,70,70,0.989233193277311) 34%, rgba(0,0,0,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span.red {
    font-weight:bold;
    font-style:italic;
    color:#ff0000;
    
}

table{
  
    
    border-collapse: collapse;
   width: fit-content;
   height:max-content;
   border-radius: 5px;
   border-style:ridge;
   

}
td,th{
    border: 3px solid rgb(5, 5, 5);
    text-align: left;
    padding: 0;
    width: 2000px;
   
}

button {
   border-radius: 12px;
    background-color: #160146; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: #592dc2; /* Green */
    color: white;
    
  }